*{
    /* background-color: black; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: aqua; */
}

/* h1{
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
} */

/* h2{
    color: red;
} */

/* p{
    color: darkblue;
    background-color: gray;
    background-image: url(./Assets/Superman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.selector > h1,
.selector > h2,
.selector > h3{
    color: violet;
} 

#lang > h1{
    color: blue;
}

.Container{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 30px;
    padding-top: 50px; */
    padding: 20px 40px 60px 80px;
    /* border-left: 10px solid black;
    border-right: 10px solid greenyellow; */
    /* border: 10px solid greenyellow; */
    /* margin-left: 100px;
    margin-top: 100px; */
    margin: 30px 50px 70px 90px;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 3;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* flex: 1; */
    order: 1;
}


.box3{
    width: 100px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 2;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.box5{
    width: 100px;
    height: 100px;
    background-color: pink;
}

.container{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* height: 500px; */
    /* border: 1px solid black; */
    /* align-items: center; */
    /* align-content: space-between; */
    gap: 10px;
}

/* h1{
    /* background-color: green; */
/* } */

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-top: 50px;
    /* position: relative;
    top: 50px; */
    /* position: relative; */
    position: sticky;
    top: 0;
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    /* position: fixed; */
    /* left: 50px; */
    /* top: 20px; */
}

.container2{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
}

.para{
    padding: 20px;
    background-color: red;
    color: white;
}

.items{
    background-color: green;
    font-size: 50px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 200px 100px;
    gap: 10px;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.item2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    background-color: coral;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
    "h h h h"
    "sb1 m m sb2"
    "f f f f";
}

.header{
    grid-area: h;
}

.footer{
    grid-area: f;
}

.main{
    grid-area: m;
}

.sidebar1{
    grid-area: sb1;
}

.sidebar2{
    grid-area: sb2;
}

.square{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transition-duration: 5s;
    transition-property: all;
    transition-timing-function: linear;
    /* transition-delay: 3s; */
}

.square:hover{
    background-color: red;
    width: 600px;
    transform: translateX(100px);
}

.square2{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes circle {
    50%{
        width: 200px;
        height: 200px;
        background-color: blue;
        left: 10px;
        top: 10px;
    }

    75%{
        width: 300px;
        height: 300px;
        background-color: green;
        left: 30px;
        top: 30px;
    }

    100%{
        background-color: yellow;
        width: 400px;
        height: 400px;
        left: 50px;
        top: 50px;
    }
}

@media screen  and (max-width:801px){
    h1{
        text-align: center;
        color: red;
        background-color: black;
    }
}

@media screen  and (max-width:600px){
    h2{
        text-align: center;
        color: yellowgreen;
        background-color: gray;
        font-size: 60px;
    }
}